<form class="form-horizontal">

<div class="row">
  
  <%= form_for(@user) do |f| %>
  
  
  <!-- エラーメッセ -->
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  
  <%= render 'layouts/error_messages', model: f.object %>
  
      <div class="form-group">
      <label class="col-sm-2 control-label">生年月日</label>
        <div class="col-xs-9 form-inline">
            <%= number_field_tag :year,  class:'form-control', size:4 %><label>年</label>
            <%= number_field_tag :month,  class:'form-control', size:2 %><label>月</label></label>
            <%= number_field_tag :day,  class:'form-control', size:2 %><label>日</label>
        </div>
    </div> 
  
    <div class="form-group">
      <%= f.label :name, class:"control-label col-xs-2" %>
      <div class="col-xs-10">
          <%= f.text_field :name, class:"form-control" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">名前</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="name">
      </div>
    </div>
    
  
    <div class="form-group">
      <%= f.label :email, class:"control-label col-xs-2" %>
      <div class="col-xs-10">
          <%= f.text_field :email, class:"form-control" %>
      
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label">居住地</label>
      <div class="col-sm-8">
        <%= f.text_field :residence, class:'form-control', placeholder:"ex) Japan" %>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label">母国語</label>
      <div class="col-sm-4">
        <%= f.select :m_lang, [['日本語', 1], ['英語', 2], ['フランス語', 3], ['中国語', 4]] %>
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-2 control-label">学習言語</label>
      <div class="col-sm-4">
      <select class="form-control" id="study" name="1st">
        <option>select</option>
        <option value="1">日本語</option>
        <option value="2">英語</option>
        <option value="3">フランス語</option>
        <option value="4">中国語</option>
      </select>
    </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label"></label>
      <div class="col-sm-4">
      <select class="form-control" id="study" name="2nd">
        <option>select</option>
        <option value="1">日本語</option>
        <option value="2">英語</option>
        <option value="3">フランス語</option>
        <option value="4">中国語</option>
      </select>
    </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label"></label>
      <div class="col-sm-4">
      <select class="form-control" id="study" name="3rd">
        <option>select</option>
        <option value="1">日本語</option>
        <option value="2">英語</option>
        <option value="3">フランス語</option>
        <option value="4">中国語</option>
      </select>
    </div>
    </div>
  
    <div class="form-group">
      <label class="col-sm-2 control-label">メールアドレス</label>
      <div class="col-sm-8">
        <input type="email" class="form-control" placeholder="例） taro.kirameki@example.com" name="mail">
      </div>
    </div>
  
    <div class="form-group">
      <label class="col-sm-2 control-label">Skype ID</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="skype">
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label">自己紹介</label>
      <div class="col-sm-8">
        <textarea class="form-control" rows="5" name="comment"></textarea>
      </div>
    </div>
    
    
        <div class="form-group">
      <label class="col-sm-2 control-label">interests</label>
      <div class="checkbox-inline">
        <input type="checkbox" value="interest" name="music">
          <label for="interest_soccer">music</label>
      </div>
      <div class="checkbox-inline">
        <input type="checkbox" value="interest" name="movie">
          <label for="interest_basketball">movie</label>
      </div>
      <div class="checkbox-inline">
        <input type="checkbox" value="interest" name="movie">
          <label for="interest_basketball">animation</label>
      </div>
      <div class="checkbox-inline">
        <input type="checkbox" value="interest" name="movie">
          <label for="interest_basketball">movie</label>
      </div>
      <div class="checkbox-inline">
        <input type="checkbox" value="interest" name="movie">
          <label for="interest_basketball">movie</label>
      </div>
      <div class="checkbox-inline">
        <input type="checkbox" value="interest" name="movie">
          <label for="interest_basketball">movie</label>
      </div>
    </div>
    
      <!-- 送信ボタン -->
    <div class="form-group">
          <label class="col-sm-2 control-label"></label>
      <div class="col-sm-8">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </div>
    </div>
    
  <% end %>
  
  
</div>

</form>